<!-- ---------------------------------------------------- -->
<!-- Populära produter                                    -->
<!-- ---------------------------------------------------- -->
<section class="popular-products mb-4">
  <h2 class="text-center mb-4">Populära produkter</h2>
  <div class="row">
    <!-- foreach loop to get product info from the products list-->
    <!-- do not forget that ejs syntax with looping open and closing tags-->
    <% popularProducts.forEach(product => { %>
      <%- include('shared/partials/product-card.ejs', {product}) %>
    <!--  -->

    <% }) %>
  </div>
</section>
