<!-- ---------------------------------------------------- -->
<!-- Search results                                       -->
<!-- ---------------------------------------------------- -->
<section class="search-results mb-4">
  <div class="text-center mb-4">Hittade 6 produkter</div>
  <div class="row">
    <div class="col-3 mb-3">
      <img src="https://via.placeholder.com/280x420.png" alt="" class="mb-2" />
      <div class="row mb-1">
        <div class="brand col">Brand X</div>
        <div class="likes col text-end">
          <i class="bi bi-heart-fill"></i> 59
        </div>
      </div>
      <div class="row mb-1">
        <div class="name col">Black T-Shirt</div>
        <div class="price col text-end">199 SEK</div>
      </div>
    </div>
    <div class="col-3 mb-3">
      <img src="https://via.placeholder.com/280x420.png" alt="" class="mb-2" />
      <div class="row mb-1">
        <div class="brand col">Brand X</div>
        <div class="likes col text-end">
          <i class="bi bi-heart-fill"></i> 59
        </div>
      </div>
      <div class="row mb-1">
        <div class="name col">Black T-Shirt</div>
        <div class="price col text-end">199 SEK</div>
      </div>
    </div>
    <div class="col-3 mb-3">
      <img src="https://via.placeholder.com/280x420.png" alt="" class="mb-2" />
      <div class="row mb-1">
        <div class="brand col">Brand X</div>
        <div class="likes col text-end">
          <i class="bi bi-heart-fill"></i> 59
        </div>
      </div>
      <div class="row mb-1">
        <div class="name col">Black T-Shirt</div>
        <div class="price col text-end">199 SEK</div>
      </div>
    </div>
    <div class="col-3 mb-3">
      <img src="https://via.placeholder.com/280x420.png" alt="" class="mb-2" />
      <div class="row mb-1">
        <div class="brand col">Brand X</div>
        <div class="likes col text-end">
          <i class="bi bi-heart-fill"></i> 59
        </div>
      </div>
      <div class="row mb-1">
        <div class="name col">Black T-Shirt</div>
        <div class="price col text-end">199 SEK</div>
      </div>
    </div>
    <div class="col-3 mb-3">
      <img src="https://via.placeholder.com/280x420.png" alt="" class="mb-2" />
      <div class="row mb-1">
        <div class="brand col">Brand X</div>
        <div class="likes col text-end">
          <i class="bi bi-heart-fill"></i> 59
        </div>
      </div>
      <div class="row mb-1">
        <div class="name col">Black T-Shirt</div>
        <div class="price col text-end">199 SEK</div>
      </div>
    </div>
    <div class="col-3 mb-3">
      <img src="https://via.placeholder.com/280x420.png" alt="" class="mb-2" />
      <div class="row mb-1">
        <div class="brand col">Brand X</div>
        <div class="likes col text-end">
          <i class="bi bi-heart-fill"></i> 59
        </div>
      </div>
      <div class="row mb-1">
        <div class="name col">Black T-Shirt</div>
        <div class="price col text-end">199 SEK</div>
      </div>
    </div>
  </div>
</section>
