<!-- ---------------------------------------------------- -->
<!-- Search results                                       -->
<!-- ---------------------------------------------------- -->
<section class="search-results mb-4">
  <div class="text-center mb-4">Hittade <%=productsCount%> produkter</div>
  <div class="row">
    <% products.forEach(product => { %>
    <%- include("shared/partials/product-card", {product}) %> <% }) %>
  </div>
</section>
